<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
      <div class="errors">
        <h2><%= pluralize(@post.errors.count, "error") %></h2>
      </div>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <%= f.input :title %>
  <%= f.input :body, as: :text %>
  <%= f.button :submit %>
<% end %>